footer.py-5.bg-dark
  .container
    p.m-0.text-center.text-white Copyright © Dev Starter Lite 2020
  // /.container
// Bootstrap core JavaScript
script(src="vendor/jquery/jquery.min.js")
script(src="vendor/bootstrap/js/bootstrap.bundle.min.js")