doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="")
    meta(name="author" content="")
    title Heroic Features - Start Bootstrap Template
    // Bootstrap core CSS
    link(href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet")
    // Custom styles for this template
    link(href="css/heroic-features.css" rel="stylesheet")
  body
    // Navigation
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      .container
        a.navbar-brand(href="#") Dev Starter Lite
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item.active
              a.nav-link(href="#")
                | Home
                span.sr-only (current)
            li.nav-item
              a.nav-link(href="/") Contact
            li.nav-item
              a.nav-link(href="/login") Login
            li.nav-item
              a.nav-link(href="/register") Register
