include includes/header.includes.pug

html
  body
    // Page Content
    .container
      // Jumbotron Header
      header.jumbotron.my-4
        h1.display-3 Dev Starter Lite | Welcome
        p.lead
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.
        a.btn.btn-primary.btn-lg(href="#") Call to action!
      // Page Features
      .row.text-center
        .col-lg-4.col-md-6.mb-4
          .card.h-100
            img.card-img-top(src="http://placehold.it/500x325" alt="")
            .card-body
              h4.card-title Card title
              p.card-text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.
            .card-footer
              a.btn.btn-primary(href="#") Find Out More!
        .col-lg-4.col-md-6.mb-4
          .card.h-100
            img.card-img-top(src="http://placehold.it/500x325" alt="")
            .card-body
              h4.card-title Card title
              p.card-text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.
            .card-footer
              a.btn.btn-primary(href="#") Find Out More!
        .col-lg-4.col-md-6.mb-4
          .card.h-100
            img.card-img-top(src="http://placehold.it/500x325" alt="")
            .card-body
              h4.card-title Card title
              p.card-text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.
            .card-footer
              a.btn.btn-primary(href="#") Find Out More!

      // /.row
    // /.container
    // Footer

include includes/footer.includes.pug