include includes/header.includes.pug

html
  body
    .container
      .section-header
      main.login-form
        .cotainer
          .row.justify-content-center
            .col-md-8
              .card
                .card-header Register
                .card-body
                  form(action="/register" method="POST")
                    .form-group.row
                      label.col-md-4.col-form-label.text-md-right(for="fullname") Full Name
                      .col-md-6
                        input#name.form-control(type="text" name="name" required="" autofocus="")
                    .form-group.row
                      label.col-md-4.col-form-label.text-md-right(for="email_address") E-Mail Address
                      .col-md-6
                        input#email.form-control(type="text" name="email" required="" autofocus="")
                    .form-group.row
                      label.col-md-4.col-form-label.text-md-right(for="password") Password
                      .col-md-6
                        input#password.form-control(type="password" name="password" required="")
                    .form-group.row
                      label.col-md-4.col-form-label.text-md-right(for="confirm_password") Confirm Password
                      .col-md-6
                        input#confirm_password.form-control(type="password" name="confirmpassword" required="")
                    .form-group.row
                      .col-md-6.offset-md-4
                        .checkbox
                          label
                            input(type="checkbox" name="remember")
                            |  Remember Me
                    .col-md-6.offset-md-4
                      button.btn.btn-primary(type="submit")
                        | Register
                      a.btn.btn-link(href="#")
                        | Forgot Your Password?

script(src="vendor/jquery/jquery.min.js")
script(src="vendor/bootstrap/js/bootstrap.bundle.min.js")